@model midterm_project.Models.Pet

@{
    ViewData["Title"] = "Create Pet";
}

<div class="createTitle">
    <h1 class="display-4 text-center mb-5 createTitle">Add New Pet</h1>
</div>

<div class="container-fluid create-wrapper create">
    <form asp-controller="PetStore" asp-action="Create" method="post">

        <div class="form-group">
            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="PetSpecies"></label>
                <input class="form-control col-md-8" asp-for="PetSpecies" />
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="PetSpecies"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="PhotoUrl"></label>
                <input class="form-control col-md-8" asp-for="PhotoUrl" />
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="PhotoUrl"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="PetDescription"></label>
                <textarea class="form-control col-md-8" asp-for="PetDescription"></textarea>
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="PetDescription"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="PetAge"></label>
                <textarea class="form-control col-md-8" asp-for="PetAge"></textarea>
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="PetAge"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="Spayed"></label>
                <select class="form-control custom-select-md mb-3" asp-for="Spayed">
                    <option selected>Choose...</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="Spayed"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label class="control-label col-md-4" asp-for="ShotsAndVaccinations"></label>
                <textarea class="form-control col-md-8" asp-for="ShotsAndVaccinations"></textarea>
                <div class="col-10 offset-md-1 text-danger text-right">
                    <span asp-validation-for="ShotsAndVaccinations"></span>
                </div>
            </div>
        </div>


        <input type="submit" class="btn btn-sm btn-success float-end" asp-route-id="@Model?.PetId" value="Save">
    </form>

    <a class="btn btn-sm btn-light" asp-controller="PetStore" asp-action="List">Back</a>
</div>
