@model midterm_project.Models.Pet

@{
    ViewData["Details"] = "Pet Details";
}

<div class="detailTitle">
    <h1 class="display-4 mb-5">@Model?.PetSpecies</h1>
</div>

<div class="container-fluid detailContainer">
    <div class="row details">
        <div class="col-4 detailImage">
            <img src="@Model?.PhotoUrl" class="rounded detailImage">
        </div>
        <div class="col-7">
            <p>@Model?.PetDescription<br>
                <b>Age:</b> @Model?.PetAge<br>
                <b>Has the Animal Been Spayed/Neutered?:</b> @Model?.Spayed
                <br>
                <b>Shots & Vaccinations Administered:</b> @Model?.ShotsAndVaccinations
            </p>
        </div>

    </div>

</div>


<input type="hidden" asp-for="PetId" />
<div class="submit-wrapper">
    <a class="btn btn-light" asp-controller="PetStore" asp-action="List">Back</a>
</div>

</div>
