@model midterm_project.Models.Pet

@{
    ViewData["Details"] = "Pet Details";
}

<div class="detailTitle">
    <h1 class="display-4 mb-5">@Model?.PetSpecies</h1>
</div>

<div class="container-fluid detailContainer">
    <div class="row details">
        <div class="col-4 detailImage">
            <img src="@Model?.PhotoUrl" class="rounded detailImage">
        </div>
        <div class="col-7">
            <p>@Model?.PetDescription<br>
                <b>Age:</b> @Model?.PetAge<br>
                <b>Has the Animal Been Spayed/Neutered?:</b>
                @{
                    bool? spayed = ((Model?.Spayed));
                    if(spayed != true)
                    {
                        @ViewData["False"];
                    }
                    else
                    {
                        @ViewData["True"];
                    }
                }
                <br>
                <b>Shots & Vaccinations Administered:</b> @Model?.ShotsAndVaccinations
            </p>
        </div>

    </div>

</div>


<input type="hidden" asp-for="PetId" />
<div class="back-wrapper">
    <a class="btn btn-light" asp-controller="PetStore" asp-action="List">Back</a>
    <a class="btn btn-sm btn-secondary mb-3 float-end" asp-controller="PetStore" asp-action="Update"
        asp-route-id="@Model?.PetId">
        Edit Pet
    </a>
</div>

</div>
