@{
    ViewData["Title"] = "Welcome to Our Pet Store";
}

<div class="text-center" id="about">
    <h1 class="display-4">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi ipsum faucibus vitae aliquet. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Duis at tellus at urna. Turpis nunc eget lorem dolor sed viverra ipsum. Urna et pharetra pharetra massa massa ultricies. Scelerisque eleifend donec pretium vulputate sapien. Amet purus gravida quis blandit turpis cursus. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. Vitae nunc sed velit dignissim sodales ut eu sem. Mauris sit amet massa vitae tortor condimentum. Vitae tortor condimentum lacinia quis. Aliquam etiam erat velit scelerisque in dictum.</p>
</div>