html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* My Custom Styling */

.listTitle {
  display: inline;
  margin-bottom: 30px;
}

.listContainer {
  margin-top: 50px;
}

.listContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 260px;
  height: 360px;
  margin-bottom: 120px;
}

.listImage {
  margin-bottom: 20px;
  width: 260px;
  height: 360px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  margin-top: -200px;
}

.detailTitle {
  margin-bottom: -30px;
}

.detailContainer {
  display: inline;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detailImage {
  width: 300px;
  height: 460px;
}

.update {
  width: 1000px;
  /* height: 800vh; */
}

.updateTitle {
  margin-bottom: -25px;
}